
{% extends "Layout.html" %}

{% block body %}


<div class="project-container">
    <div class="project">
        <a href="/project1">
            <img src="{{ url_for('static', filename='Wirelesslab.png') }}" alt="Project Image">
            <p>Designed a wireless laboratory for SJSU's electrical engineering course "EE 160 Principles of Communication Systems."</p>
        </a>
    </div>
    <div class="project">
        <a href="/project2">
            <img src="{{ url_for('static', filename='VaccineLogin.png') }}" alt="Project Image">
            <p>Created a vaccination appointmnet form with SMS Confirmation and reminder suing python, Tkinter GUI and Twilio API. </p>
        </a>
    </div>
    <div class="project">
        <a href="/project3">
            <img src="{{ url_for('static', filename='Wirelesslab.png') }}" alt="Project Image">
            <p>Project 3 description here...</p>
        </a>
    </div>
    <div class="project">
        <a href="/project4">
            <img src="{{ url_for('static', filename='Wirelesslab.png') }}" alt="Project Image">
            <p>Project 4 description here...</p>
        </a>
    </div>
</div>

{% endblock %}